
body {

   background-image: url('../assets/1c11de_5757768.jpg');
   background-blend-mode: overlay;
   background-color: black;
}

// main {
//     min-height: 90vh;

// }

.title {
    background-color: $background;
    text-align: center;
    padding: 25px 0 5px;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 0.5px solid $text;
    border-top: 0.5px solid $text;
    width: 100%;
    position: relative;
}

.logo {
    font-family: $secondaryFont;
    font-size: 5rem;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    color: $accent;
    left: 15%;
    font-weight: 500;
    padding: 0 15px;
        & span {
            font-weight: 800;
            color: $text;  

        }
}

.about {
    font-family: $primaryFont;
    font-weight: 400;
    padding-top: 40px;
    font-size: 2.2rem;
    text-align: center;
        & .you {
            font-family: $secondaryFont;
            font-weight: 800;
            text-transform: uppercase;
        }
        & .they {
            padding-right: 6px;
            // display: inline;
            font-family: $secondaryFont;
            font-weight: 600;
            text-transform: uppercase;
            font-style: italic;
        }
}

.ultimateMovie {
    margin: 30px 0;
    // min-height: 600px;
    height: 300px;
    // height: calc(100vh - 322px);
}

.moviePick {
    font-family: $primaryFont;
    color: $text;
    background-color: $background;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    padding: 30px;
    font-size: 1.8rem;
    display: flex;
}

.movieTitle,
.releaseGenre,
.scoreTrailer {
    margin-bottom: 10px;
}

.moviePoster {
    display: inline-block;
    max-width: 35%;
    // & img {
        //     object-fit: cover;
        // }
    }
    
.info {
    display: inline-block;
    max-width: 65%;
    margin-left: 20px;
    vertical-align: top;
    padding-top: 20px;
}

.movieTitle {
    font-size: 4rem;
}

.year {
    font-weight: 400;
    color: darkgray;
}

.releaseGenre {
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
}

.releaseDate {
    margin-right: 10px;
}

.genre {
    margin-left: 10px;
}

.scoreTrailer,
.overview {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.6rem;
    font-weight: 800;
}

.overview {
    margin-bottom: 5px;
}

.userScore {
    margin-right: 20px;
    text-transform: uppercase;
}

.userScoreText {
    font-size: 1.8rem;
}

.playTrailer {
    & i {
        color: $accent;
    }
    & a {
        color: $text;
    }
}

.synopsis {
    margin-bottom: 30px;
}


.director {
    font-weight: 800;
    margin-bottom: 5px;
}


.createdAt {
    background-color: $accent;
    font-family: $secondaryFont;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}


// SEARCH SECTION STYLING 

.search {
// border: 2px white solid;
background-color: $background;
padding: 20px 0 50px 0;

}

form {
    
    font-size: 2.2rem;   
    text-transform: uppercase;
    font-family: $primaryFont ;
    display: flex;
    justify-content: center;
    align-items: center;
     div {
         padding: 0 15px;
     }
}

.genre1, .genre2 {
    border-radius: 5px;
     padding: 3px;
     border: 3px solid $accent;

    
}

.genreSubmit {
    // margin-top: ;
    display: inline;
    padding: 7px;
    font-size: 1.8rem;
    border: 3px solid #4ba7ec;
    background-color: $background;
    color: #4ba7ec;
    font-weight: lighter;
    text-transform: uppercase;
}


@media(max-width: 1100px){
    

    .genre1, .genre2 {
        text-align: center;
    }

     .genreContainerOne {
        flex-basis: 45%;
    }
    .genreContainerTwo {
        flex-basis: 50%;
    }

    // .ultimateMovie {
    //     min-height: 400px;
    // }

    .carousel {
        width: 85%;
        margin: 0 auto;
    }

    .info {
        margin: 0;
    }

    .moviePick{
        text-align: center;
    
    }

    .overview {
        justify-content: center;
    }

    .synopsis {
        text-align: left;
    }

    .releaseGenre,
    .scoreTrailer {
        justify-content: center;
    }

    .pipe {
        display: none;
    }

}
 

@media (max-width: 800px) {

    form {
        margin: 20px 0 15px 0;
        flex-direction: column;
        div {
            margin-bottom: 15px;
        }
    }

    .about {
        min-width: 100%;
        display: inline-block;
        margin: 10px 0;
        padding: 0;
    }

    .search {
        padding: 0;
    }
}

