

https://coolors.co/984447-add9f4-476c9b-468c98-101419

https://coolors.co/9bc53d-c3423f-292929-f5f5f5-a27035

https://coolors.co/9c95dc-c3423f-292929-f5f5f5-228cdb - #1

// colour pallette

$accent: rgba(195, 66, 63, 1);
$background: rgba(41, 41, 41, 1);
$text: rgba(245, 245, 245, 1);
$button: rgba(34, 140, 219, 1);


* {
    margin
}
