@import "setup";
@import "utils";
@import "typography";
@import "main";

body {
  background-color: $background;
  color: $text;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $text;
  font-size: 1.6rem;
}

// REMOVE DEFAULT STYLING 
*,
h1,
h2,
h3,
figure,
button {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  text-decoration: none;
}

img {
  width: 100%;
}

// WRAPPER TO CENTER AND CONSTRAINT
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.logoWrapper {
  max-width: 1500px;
  margin: 0 auto;
}
