@import 'setup';
@import 'utils';
@import 'typography';
@import 'main';


body {
    background-color: $background;
    color: $text;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $text;
    font-size: 1.6rem;
}


// Remove default styling
*,
h1, 
h2,
h3,
button {
    margin: 0;
    padding: 0;
    border: 0;
    border: none;
    text-decoration: none;
}

// Wrapper to center and constrain content
.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}





